/* This is my first proper css file */

body{
    background-color: beige;
    margin: auto;
    max-width: fit-content;
}
h1{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
}

h2{
    color:rgb(0, 0, 88) ;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150;
}

h3{
    color:rgb(0, 0, 88);
    font-family:Arial, Helvetica, sans-serif;
}

p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 12px;
    border-color: white;
    margin: center;
}

.chartbox{
    border:rgb(247, 247, 197);
    width: 400px;
    margin: 15px;
    background-color: rgb(247, 247, 197);
    padding: 15px;
    border: 1px solid rgb(109, 114, 88);
    border-radius: 12px;   
    box-sizing: border-box;
}
    
.button:link, .button:visited {
    background-color: transparent;
    border-radius: 12px;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.4s;
    float: center;
    margin: 2px;   
    
    
}
  
  .button:hover, .button:active {
    background-color: green;
    color: white;
}

.footer {
    background-color: grey;
    color:white;
    text-align: right;
    border-top: 1px solid black;
}

.grid-container{
    display:inline-grid;
    grid-template-columns: auto auto;  
}

.grid-item{
    background-color: transparent;
}

