/* This is my first proper css file */

body{
    background-color: beige;
    margin: auto;
    max-width: 450px;
}
h1{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
}

h2{
    color:rgb(0, 0, 88) ;
    font-family: 'Roboto', sans-serif;
    font-size: 150;
}

h3{
    color:rgb(0, 0, 88);
    font-family:Arial, Helvetica, sans-serif;
}

p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;
}

