

/* CSS works on different screen sizes*/
/* Colours based on the Financial Times*/
/*This CSS is for the homepage=index.html*/

body{
    background-color:#fff1e0 ;
    margin: auto;
    max-width: fit-content;
    padding-top: 30px;
    overflow: hidden; /*Means you can't scroll down*/
}

h1{ 
    /* WEBSITE TITLE*/
    color:rgb(17, 17, 17);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:220%;
    
}

h3{
    color:rgb(0, 0, 88);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    
}

a:link, a:visited {
    /*To do with the text inside */
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color:black;
    text-align: center;
    float: center;
    /*To do with the box link */
    border-radius: 6px;
    border: 3px solid black;
    padding: 15px 20px;
    width: 100px;
    margin-bottom:30px;
    margin-left: auto;
    margin-right:auto;
    /*To make it look good*/
    text-decoration: none;
    transition-duration: 0.4s;
    display: block;
    background-color: transparent;
    
}

a:hover, a:active {
    background-color: black;
    color: white;
    font-size:110%;
}

